body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: far-from-homecoming;
    src: url(../Far-From\ Homecoming\ Updated.otf);
}

.spiderman {
    font-family: far-from-homecoming, sans-serif;
}


/*contenue*/


/*section un*/

.premier {
    background-color: #f1c530;
    background-image: url(../Illustration/yellow.png);
    background-position: right;
    background-size: 100% 103%;
    padding: 15% 0 24% 7%;
    background-repeat: no-repeat;
}

.list {
    margin-left: 30%;
}


/*footer*/

.leader {
    position: relative;
}

.sub-leader {
    position: absolute;
    left: 53%;
}

.ex {
    padding-right: 24.5%;
}

.desktop {
    margin-left: 30vw;
}

@media (min-width:768px) {
    .desktop {
        margin-left: 40vw;
    }
}

.circle-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


/*version mobile*/

.image {
    padding: 3% 0 0 30%;
}

.sky {
    margin: 0% 0 0 20%;
}


/*version mobile*/

.image {
    padding: 3% 0 0 30%;
}

.sky {
    margin: 0% 0 0 20%;
}